    .card {
        height: 120px;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        box-sizing: border-box;

        &__inner {
            position: relative;
            height: 100%;
            width: 100%;
            transform-style: preserve-3d;
            transition: all 300ms ease-in-out;
        }

        &__face {
            height: 100%;
            width: 100%;
            position: absolute;
            inset: 0;
            backface-visibility: hidden;

            &--front {
                transform: rotateY(180deg);
            }

        }

        &.is-flipped .card__inner {
            transform: rotateY(180deg);
        }
    }

    .highlight {
        border: var(--highlight-border) solid var(--highlight-color);
        border-radius: var(--highlight-border-radius);
        box-shadow: var(--highlight-shadow);
    }