@use '../abstract/mixins' as mx;
@use '../themes/code' as *;

.game {
    height: 100vh;
    height: 100dvh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 41px max(calc(50% - 720px), 0px);
    background-color: var(--main-background);
    color: var(--text-color);
    font-family: var(--font-family);
}

header {
    @include mx.flex-between();
    padding: 0 110px;
    height: 100px;
    background-color: var(--header-background);
    border-radius: var(--border-radius);


    .players-wrapper {
        @include mx.flex-gap(40px);
        padding: var(--btn-padding);

        background-color: var(--player-background);
        border-radius: var(--border-radius);

        >div {
            @include mx.flex-gap(8px);
            align-items: center;
        }
    }

    .current-player {
        @include mx.flex-gap(18px);
        align-items: center;
        font-weight: 700;
    }


    .button {
        background-color: var(--btn-background);
        color: var(--text-color);
        font-family: var(--font-family);
        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--btn-padding);

        &:hover {
            background-color: var(--btn-hover);
            box-shadow: var(--btn-shadow);
            outline: var(--border-hover);
        }
    }
}

.blue {
    color: var(--blue-color);
    font-size: var(--text-size);
}

.orange {
    color: var(--orange-color);
    font-size: var(--text-size);
}