@use '../abstract/mixins' as mx;

.game-over {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--game-over-bg);
    @include mx.flex-center();

    &__header{
        flex-direction: column;
        height: unset;
        background-color: unset;
    }

    &__headline {
        font-family: var(--second-font);
        font-size: 120px;
        color: var(--game-over-headline-color);
    }

    &__text {
        font-size: 26px;
        margin-bottom: 24px;
        color: #FFFFFF;
    }

    &__score-board {
        @include mx.flex-gap(40px);
        padding: var(--btn-padding);

        background-color: var(--player-background);
        border-radius: var(--border-radius);

        >li>figure {
            @include mx.flex-gap(3px);
            margin: 0;
            max-height: 28px;
            align-items: center
        }
    }
}