@use './variables' as var;

@mixin flex-center($direction: column) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin flex-between() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-gap($value) {
    display: flex;
    gap: $value;
}



@mixin respond($size) {
    @media screen and (min-width: map-get(var.$breakpoints, $size)) {
        @content;
    }
}