section[data-field="24"] {
    --padding: 54px 300px;
    --gap: 6px;
}

section[data-field="16"] {
    --padding: 54px 420px;
    --gap: 16px;
}

section[data-field="36"] {
    --padding: 54px 300px;
    --gap: 6px;
}