div[data-field="24"] {
    --padding: 54px 350px;
    --gap: 6px;
}

div[data-field="16"] {
    --padding: 54px 450px;
    --gap: 16px;
}

div[data-field="36"] {
    --padding: 54px 350px;
    --gap: 6px;
}