main[data-theme="code"]{
    --main-background: #303131;
    --text-color: #ffffff;
    --font-family: 'Red Rose';
    --player-background: #86E9D633;
    --header-background: #303131;
    --orange-color: #F58E39;
    --blue-color: #2BB1FF;
    --border: 1px solid #4DD5BC;
    --border-hover: 1px solid #4DD5BC;
    --btn-hover: #86E9D642;
    --btn-shadow: 4px 4px 6px 0px #4DD5BC33;
    --btn-background: #86E9D633;
    --border-radius: 0px;
    --btn-padding: 16px 20px;
    --text-size: 1em;
}