main[data-theme="foods"] {
    --main-background: #FFFFFF;
    --text-color: #A45212;
    --font-family: 'Delius Unicase';
    --second-font: 'Klee One';
    --player-background: #FFFFFF;
    --header-background: #F0E5D9;
    --orange-color: #EA6900;
    --blue-color: #097FC5;
    --border: 2px solid #F3832D;
    --border-hover: 1px solid #F3832D;
    --btn-hover: #F3832D;
    --btn-shadow: 3px 3px 5px 0px #2F2E2E33;
    --btn-icon-color: #FFFFFF;
    --btn-background: #FFF9F2;
    --border-radius: 10px;
    --btn-padding: 16px 20px;
    --text-size: 1em;
    --btn-hover-color: #FFFFFF;
    --font-weight: 600;
    --dialog-background-color: #F6F6F6;
    --dialog-color: #A45212;
    --dialog-contiunue-btn-hover: #F3832D;
    --dialog-contiunue-btn-bg: #FFAB3E;
    --exit-btn-color: #A45212;
    --exit-btn-color-hover: #FFFFFF;
    --dialog-contiunue-btn-hover-color: #FFFFFF;
    --highlight-border: 4px;
    --highlight-color: #F3832D;
    --highlight-border-radius: 0px;
    --highlight-highlight-shadow: 0px 0px 0px 0px ;
    --game-over-bg: #F3832D;
    --game-over-headline-color: #FFFFFF;
}