main[data-theme="gaming"] {
    --main-background: #294F60;
    --text-color: #ffffff;
    --font-family: 'Orbitron';
    --header-background: #FD96C933;
    --player-background: #ffffff;
    --orange-color: #EA6900;
    --blue-color: #097FC5;
    --border: 2px solid #E71C4F;
    --border-hover: 1px solid #E71C4F;
    --btn-hover: #ED1B7624;
    --btn-shadow: unset;
    --border-radius: 10px;
    --btn-background: #ED1B7614;
    --btn-padding: 8px 16px;
    --text-size: 1.5em;
}