@use '../abstract/mixins' as mx;

body {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

    @include mx.respond(md) {
        font-size: 20px;
    }

    @include mx.respond(lg) {
        font-size: 24px;
    }

}

.hidden {
    display: none;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

label {
    cursor: pointer;
}

.d_none{
    display: none;
}


